In [1]:
import pandas as pd
import numpy as np

In [2]:
df_2018 = pd.read_csv('Parking_Violations_Issued_-_Fiscal_Year_2018.csv')
df_2018.head()

/Users/gary/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (29,38,39) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,1434219940,CWY5549,NY,PAS,01/01/2018,71,SDN,HYUND,P,19210,...,NaN,0.0,0,-,0,NaN,NaN,NaN,NaN,NaN
1,1434219963,HCR6106,NY,PAS,01/01/2018,71,VAN,HONDA,P,18970,...,NaN,0.0,0,-,0,NaN,NaN,NaN,NaN,NaN
2,1434219951,GZX6116,NY,PAS,01/01/2018,71,SDN,ME/BE,P,10010,...,BLK,0.0,2012,-,0,NaN,NaN,NaN,NaN,NaN
3,1429186926,HSH4411,NY,PAS,01/01/2018,98,SDN,NISSA,P,35380,...,BLACK,0.0,2012,-,0,NaN,NaN,NaN,NaN,NaN
4,1434582802,53216ME,NY,COM,01/01/2018,78,VAN,DODGE,S,5430,...,WHITE,0.0,2016,-,0,NaN,NaN,NaN,NaN,NaN

In [3]:
df_2019 = pd.read_csv('Parking_Violations_Issued_-_Fiscal_Year_2019.csv')
df_2019.head()

/Users/gary/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (17,18,20,22,23,29,30,31,32,36,38,39) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,1442479747,HCP7926,NY,PAS,07/16/2018,21,SDN,ME/BE,S,0,...,RED,0.0,2016,-,0,NaN,NaN,NaN,NaN,NaN
1,1442479759,HSZ2472,NY,PAS,07/13/2018,21,SUBN,ME/BE,S,49230,...,TAN,0.0,2003,-,0,NaN,NaN,NaN,NaN,NaN
2,1442479772,HYJ1988,NY,PAS,07/13/2018,21,SUBN,HONDA,S,12430,...,GREY,0.0,2018,-,0,NaN,NaN,NaN,NaN,NaN
3,1442480397,HNV6246,NY,PAS,07/13/2018,21,SUBN,TOYOT,S,83730,...,BLUE,0.0,2005,-,0,NaN,NaN,NaN,NaN,NaN
4,1442480403,HWG4025,NY,PAS,07/13/2018,21,SUBN,HYUND,S,83730,...,GREEN,0.0,2010,-,0,NaN,NaN,NaN,NaN,NaN

In [4]:
df_2018['Issue Date']= pd.to_datetime(df_2018['Issue Date']) 
df_2019['Issue Date']= pd.to_datetime(df_2019['Issue Date'])

In [5]:
df_2018['Year'] = df_2018['Issue Date'].dt.year 
df_2018['Month'] = df_2018['Issue Date'].dt.month
df_2018['Day'] = df_2018['Issue Date'].dt.day
df_2019['Year'] = df_2019['Issue Date'].dt.year 
df_2019['Month'] = df_2019['Issue Date'].dt.month
df_2019['Day'] = df_2019['Issue Date'].dt.day

In [6]:
df_2018_sp = df_2018[df_2018['Year'] == 2018]
df_2018_sp

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation,Year,Month,Day
0,1434219940,CWY5549,NY,PAS,2018-01-01,71,SDN,HYUND,P,19210,...,-,0,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,1.0
1,1434219963,HCR6106,NY,PAS,2018-01-01,71,VAN,HONDA,P,18970,...,-,0,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,1.0
2,1434219951,GZX6116,NY,PAS,2018-01-01,71,SDN,ME/BE,P,10010,...,-,0,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,1.0
3,1429186926,HSH4411,NY,PAS,2018-01-01,98,SDN,NISSA,P,35380,...,-,0,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,1.0
4,1434582802,53216ME,NY,COM,2018-01-01,78,VAN,DODGE,S,5430,...,-,0,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5716322,1435384519,DZW6526,NY,PAS,2018-12-31,98,SDN,HONDA,P,15020,...,-,0,NaN,NaN,NaN,NaN,NaN,2018.0,12.0,31.0
5716323,1435367728,30501MG,NY,COM,2018-12-31,78,P-U,FORD,P,0,...,-,0,NaN,NaN,NaN,NaN,NaN,2018.0,12.0,31.0
5716324,1414253448,T683534C,NY,OMT,2018-12-31,20,SUBN,TOYOT,X,34550,...,-,0,NaN,NaN,NaN,NaN,NaN,2018.0,12.0,31.0
5716325,1414253436,1G94A,NY,OMT,2018-12-31,20,SDN,FORD,X,0,...,-,0,NaN,NaN,NaN,NaN,NaN,2018.0,12.0,31.0
5716326,1426059607,81660Z1,CA,PAS,2018-12-31,46,VAN,FORD,P,41150,...,-,0,NaN,NaN,NaN,NaN,NaN,2018.0,12.0,31.0

In [7]:
df_2018_fa = df_2019[df_2019['Year'] == 2018]
df_2018_fa

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation,Year,Month,Day
0,1442479747,HCP7926,NY,PAS,2018-07-16,21,SDN,ME/BE,S,0,...,-,0,NaN,NaN,NaN,NaN,NaN,2018,7,16
1,1442479759,HSZ2472,NY,PAS,2018-07-13,21,SUBN,ME/BE,S,49230,...,-,0,NaN,NaN,NaN,NaN,NaN,2018,7,13
2,1442479772,HYJ1988,NY,PAS,2018-07-13,21,SUBN,HONDA,S,12430,...,-,0,NaN,NaN,NaN,NaN,NaN,2018,7,13
3,1442480397,HNV6246,NY,PAS,2018-07-13,21,SUBN,TOYOT,S,83730,...,-,0,NaN,NaN,NaN,NaN,NaN,2018,7,13
4,1442480403,HWG4025,NY,PAS,2018-07-13,21,SUBN,HYUND,S,83730,...,-,0,NaN,NaN,NaN,NaN,NaN,2018,7,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11060085,1459305681,2431508,99,COM,2018-08-15,47,DELV,FGHT,P,10910,...,-,0,NaN,NaN,NaN,NaN,NaN,2018,8,15
11060612,1459309170,XZ696T,NJ,PAS,2018-05-17,46,DELV,HIN,P,27790,...,-,0,NaN,NaN,NaN,NaN,NaN,2018,5,17
11062498,1459345733,96072MG,NY,COM,2018-05-24,46,VAN,FRUEH,P,25390,...,-,0,NaN,NaN,NaN,NaN,NaN,2018,5,24
11063548,1459560917,23276TC,NY,TRC,2018-06-12,78,TRAC,KENWO,P,64110,...,-,0,NaN,NaN,NaN,NaN,NaN,2018,6,12
11065610,1459409322,68224MM,NY,COM,2018-05-24,40,VAN,CHEVR,P,0,...,-,0,NaN,NaN,NaN,NaN,NaN,2018,5,24

In [8]:
df_2018_total = pd.concat([df_2018_sp, df_2018_fa])

In [9]:
df_2018_total.to_csv('df_2018_total.csv', index = False)

In [10]:
pd.read_csv('df_2019_total.csv')

/Users/gary/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (17,18,20,22,23,29,30,31,32,36,38,39) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation,Year,Month,Day
0,1442489595,HUJ8826,NY,PAS,2019-07-10,21,SDN,HYUND,S,69030,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,10
1,1442525642,HXS1441,NY,PAS,2019-07-16,21,SDN,TOYOT,S,83330,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,16
2,1442847890,HHT6079,NY,PAS,2019-07-18,21,SDN,NISSA,S,81830,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,18
3,1442924561,HNG2700,NY,PAS,2019-07-20,21,SUBN,ME/BE,S,5580,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,20
4,1133401594,HPC9135,NY,PAS,2019-07-02,21,SUBN,HONDA,S,68930,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12773444,1448875237,JHL8867,NY,PAS,2019-12-31,46,SDN,HONDA,P,10610,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31
12773445,1448875043,JNF5425,NY,PAS,2019-12-31,46,SUBN,FORD,P,36410,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31
12773446,1448839051,JKA3445,NY,PAS,2019-12-31,46,SDN,BMW,P,36670,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31
12773447,1448772655,G39JUF,NJ,PAS,2019-12-31,46,O,NISSA,P,36270,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31
12773448,1459176200,T801937C,NY,OMT,2019-12-31,9,TAXI,CHEVR,P,0,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31