In [1]:
import pandas as pd
import numpy as np

In [2]:
df_2020 = pd.read_csv('Parking_Violations_Issued_-_Fiscal_Year_2020.csv')
df_2020.head()

/Users/gary/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (18,29,38,39) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,1477633194,J58JKX,NJ,PAS,05/08/1972 12:00:00 AM,16,SDN,HONDA,P,8730,...,BK,0.0,0,-,0,NaN,NaN,NaN,NaN,NaN
1,1449715424,KRE6058,PA,PAS,08/29/1977 12:00:00 AM,98,SUBN,ME/BE,P,86530,...,BLK,0.0,0,-,0,NaN,NaN,NaN,NaN,NaN
2,1455779155,444326R,NJ,PAS,10/03/1988 12:00:00 AM,20,SDN,LEXUS,P,27030,...,BLACK,0.0,0,-,0,NaN,NaN,NaN,NaN,NaN
3,1458800908,F728330,OH,PAS,01/03/1990 12:00:00 AM,21,SDN,CHEVR,P,33030,...,NaN,0.0,0,-,0,NaN,NaN,NaN,NaN,NaN
4,1466038676,FMY9090,NY,PAS,02/14/1990 12:00:00 AM,21,SUBN,JEEP,S,45130,...,GREY,0.0,2015,-,0,NaN,NaN,NaN,NaN,NaN

In [3]:
df_2019 = pd.read_csv('Parking_Violations_Issued_-_Fiscal_Year_2019.csv')
df_2019.head()

/Users/gary/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (17,18,20,22,23,29,30,31,32,36,38,39) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,1442479747,HCP7926,NY,PAS,07/16/2018,21,SDN,ME/BE,S,0,...,RED,0.0,2016,-,0,NaN,NaN,NaN,NaN,NaN
1,1442479759,HSZ2472,NY,PAS,07/13/2018,21,SUBN,ME/BE,S,49230,...,TAN,0.0,2003,-,0,NaN,NaN,NaN,NaN,NaN
2,1442479772,HYJ1988,NY,PAS,07/13/2018,21,SUBN,HONDA,S,12430,...,GREY,0.0,2018,-,0,NaN,NaN,NaN,NaN,NaN
3,1442480397,HNV6246,NY,PAS,07/13/2018,21,SUBN,TOYOT,S,83730,...,BLUE,0.0,2005,-,0,NaN,NaN,NaN,NaN,NaN
4,1442480403,HWG4025,NY,PAS,07/13/2018,21,SUBN,HYUND,S,83730,...,GREEN,0.0,2010,-,0,NaN,NaN,NaN,NaN,NaN

In [4]:
df_2020['Issue Date']= pd.to_datetime(df_2020['Issue Date']) 
df_2019['Issue Date']= pd.to_datetime(df_2019['Issue Date'])

In [5]:
df_2020['Year'] = df_2020['Issue Date'].dt.year 
df_2020['Month'] = df_2020['Issue Date'].dt.month
df_2020['Day'] = df_2020['Issue Date'].dt.day
df_2019['Year'] = df_2019['Issue Date'].dt.year 
df_2019['Month'] = df_2019['Issue Date'].dt.month
df_2019['Day'] = df_2019['Issue Date'].dt.day

In [6]:
df_2019_fa = df_2020[df_2020['Year'] == 2019]
df_2019_fa

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation,Year,Month,Day
2850,1462954870,7531043,GV,PAS,2019-03-30,14,TRK,NaN,P,0,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,3,30
2916,1455782014,GYX2191,NY,PAS,2019-05-13,20,NaN,NaN,P,0,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,5,13
3013,4011283101,T730017C,NY,OMT,2019-05-19,5,4DSD,TOYOT,V,0,...,NaN,0,NaN,BUS LANE VIOLATION,NaN,NaN,NaN,2019,5,19
3089,1465574475,JMJ4156,99,PAS,2019-01-01,98,SDN,HONDA,P,0,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,1,1
3090,1452758967,T753575C,NY,OMT,2019-01-01,71,SDN,TOYOT,P,0,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7425643,1448875237,JHL8867,NY,PAS,2019-12-31,46,SDN,HONDA,P,10610,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31
7425644,1448875043,JNF5425,NY,PAS,2019-12-31,46,SUBN,FORD,P,36410,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31
7425645,1448839051,JKA3445,NY,PAS,2019-12-31,46,SDN,BMW,P,36670,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31
7425646,1448772655,G39JUF,NJ,PAS,2019-12-31,46,O,NISSA,P,36270,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31
7425647,1459176200,T801937C,NY,OMT,2019-12-31,9,TAXI,CHEVR,P,0,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31

In [7]:
df_2019_sp = df_2019[df_2019['Year'] == 2019]
df_2019_sp

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation,Year,Month,Day
283,1442489595,HUJ8826,NY,PAS,2019-07-10,21,SDN,HYUND,S,69030,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,10
1649,1442525642,HXS1441,NY,PAS,2019-07-16,21,SDN,TOYOT,S,83330,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,16
2067,1442847890,HHT6079,NY,PAS,2019-07-18,21,SDN,NISSA,S,81830,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,18
2174,1442924561,HNG2700,NY,PAS,2019-07-20,21,SUBN,ME/BE,S,5580,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,20
103104,1133401594,HPC9135,NY,PAS,2019-07-02,21,SUBN,HONDA,S,68930,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11467501,8764852570,39383ML,NY,COM,2019-06-22,46,VAN,FRUEH,T,11710,...,NaN,0,G,NaN,NaN,NaN,NaN,2019,6,22
11467502,8764852581,39383ML,NY,COM,2019-06-22,71,VAN,FRUEH,T,11710,...,NaN,0,G,NaN,NaN,NaN,NaN,2019,6,22
11467503,8764852593,AU826E,NJ,PAS,2019-06-22,46,REFG,FRUEH,T,11710,...,NaN,0,G,NaN,NaN,NaN,NaN,2019,6,22
11467504,8764852623,8DF5481,MD,PAS,2019-06-22,20,SUBN,FORD,T,35810,...,NaN,0,G,NaN,NaN,NaN,NaN,2019,6,22
11467505,8764852635,P84JZE,NJ,PAS,2019-06-22,40,SUBN,AUDI,T,35910,...,NaN,5,G,NaN,NaN,NaN,NaN,2019,6,22

In [8]:
df_2019_total = pd.concat([df_2019_sp, df_2019_fa])

In [9]:
df_2019_total.to_csv('df_2019_total.csv', index = False)

In [10]:
pd.read_csv('df_2019_total.csv')

/Users/gary/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (17,18,20,22,23,29,30,31,32,36,38,39) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation,Year,Month,Day
0,1442489595,HUJ8826,NY,PAS,2019-07-10,21,SDN,HYUND,S,69030,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,10
1,1442525642,HXS1441,NY,PAS,2019-07-16,21,SDN,TOYOT,S,83330,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,16
2,1442847890,HHT6079,NY,PAS,2019-07-18,21,SDN,NISSA,S,81830,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,18
3,1442924561,HNG2700,NY,PAS,2019-07-20,21,SUBN,ME/BE,S,5580,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,20
4,1133401594,HPC9135,NY,PAS,2019-07-02,21,SUBN,HONDA,S,68930,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12773444,1448875237,JHL8867,NY,PAS,2019-12-31,46,SDN,HONDA,P,10610,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31
12773445,1448875043,JNF5425,NY,PAS,2019-12-31,46,SUBN,FORD,P,36410,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31
12773446,1448839051,JKA3445,NY,PAS,2019-12-31,46,SDN,BMW,P,36670,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31
12773447,1448772655,G39JUF,NJ,PAS,2019-12-31,46,O,NISSA,P,36270,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31
12773448,1459176200,T801937C,NY,OMT,2019-12-31,9,TAXI,CHEVR,P,0,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31