In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import requests
import urllib.parse

In [3]:

df_2018 = pd.read_csv('df_2018_total.csv')
df_2019 = pd.read_csv('df_2019_total.csv')
df_2020 = pd.read_csv('df_2020_total.csv')

/Users/yanghang/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (17,18,20,22,23,29,30,31,32,36,38,39) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation,Year,Month,Day
0,1442489595,HUJ8826,NY,PAS,2019-07-10,21,SDN,HYUND,S,69030,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,10
1,1442525642,HXS1441,NY,PAS,2019-07-16,21,SDN,TOYOT,S,83330,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,16
2,1442847890,HHT6079,NY,PAS,2019-07-18,21,SDN,NISSA,S,81830,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,18
3,1442924561,HNG2700,NY,PAS,2019-07-20,21,SUBN,ME/BE,S,5580,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,20
4,1133401594,HPC9135,NY,PAS,2019-07-02,21,SUBN,HONDA,S,68930,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,7,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12773444,1448875237,JHL8867,NY,PAS,2019-12-31,46,SDN,HONDA,P,10610,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31
12773445,1448875043,JNF5425,NY,PAS,2019-12-31,46,SUBN,FORD,P,36410,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31
12773446,1448839051,JKA3445,NY,PAS,2019-12-31,46,SDN,BMW,P,36670,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31
12773447,1448772655,G39JUF,NJ,PAS,2019-12-31,46,O,NISSA,P,36270,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31
12773448,1459176200,T801937C,NY,OMT,2019-12-31,9,TAXI,CHEVR,P,0,...,-,0,NaN,NaN,NaN,NaN,NaN,2019,12,31

In [3]:
def get_location(df):
    temp_df = pd.DataFrame(df['Street Name'].value_counts())

    temp_df = temp_df[temp_df > 100].dropna().reset_index().rename({'Street Name': 'count', 'index': 'Street Name'}, axis=1)
    temp_df['Street Name'].tolist()
    street_name = temp_df.iloc[:, 0].tolist()
    len(street_name)
    
    Latitude = []
    Longitude = []
    new_street_name = street_name
    remove_list = []

    number = len(street_name)
    #number = 40

    for i in range(number):
        address = street_name[i] + ', NY'
        url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(address) +'?format=json'

        response = requests.get(url).json()
        #print(i)
        if len(response) == 0:
            remove_list.append(i)
            continue
        Latitude.append(float(response[0]["lat"]))
        Longitude.append(float(response[0]["lon"]))
        
    df_position = pd.DataFrame(Latitude,Longitude).reset_index().rename({0: 'Latitude', 'index': 'Longitude'}, axis=1)

    
    count_list = df['Street Name'].value_counts().tolist()
    temp_count_list = count_list[:number]

    reversed_remove_list = sorted(remove_list, reverse=True)
    reversed_remove_list
    for i in reversed_remove_list:
        del temp_count_list[i]
        
    df_position['count'] = temp_count_list
    
    return df_position

In [4]:
get_location(df_2019)

    Longitude   Latitude   count
0  -73.938758  40.845112  225723
1  -73.940471  40.797331  165024
2  -73.951345  40.793962   96810
3  -73.971330  40.763756   95187
4  -73.963696  40.761519   91356
5  -73.948637  40.789003   78348
6  -73.946182  40.781252   73730
7  -73.901071  40.741030   73040
8  -74.000695  40.742258   67764
9  -73.987692  40.755030   63571
10 -74.005262  40.721142   61690
11 -73.985358  40.773482   56117
12 -73.805151  40.701955   54462
13 -73.917878  40.750667   48454
14 -73.981512  40.747027   43929
15 -73.862962  40.834419   43115
16 -73.757817  40.666313   43098
17 -73.915857  40.743130   42980
18 -73.980629  40.774913   42164
19 -74.007664  40.710186   38100
20 -73.821324  40.726025   34416
21 -73.953005  40.809238   33371
22 -74.004391  40.742346   33059
23 -73.950517  40.669867   31749
24 -73.971368  40.648163   31225
25 -73.935277  40.696996   31072
26 -73.920176  40.757507   30884
27 -73.776510  40.743672   30576
28 -73.880284  40.894500   30477
29 -73.896513  40.674405   29524
30 -73.985488  40.752935   28903
31 -73.993083  40.754267   27585
32 -73.853898  40.723491   27480
33 -73.990888  40.765901   27374
34 -73.929336  40.813830   27202

In [11]:
df_position.to_csv (r'C:\\Users\\Makise Kurisu\\Desktop\\final project\\data\\df_position_2019.csv', index = False, header=True)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39